@font-face{
  font-family: "free";
  src: url("estilo/Sketch.ttf");
}


h1{
  font-family: free;
  text-align:center;
  color:#DF013A;
}
body{
  background-color: pink;
  background-size: 100%;
  background-repeat: no-repeat;

}
.caja{
    color:#fff;
    border:1px solid #ccc;
    background-color:#808080;
    margin-right:10px;
    padding: 2px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    font-weight:bold;
    font-size:0.8em;
    cursor:pointer;
}
 /*
.botonCrear{
  background-image:url("imagen/crear.png");
  background-repeat:no-repeat;
  height:40px;
  width:40px;
  background-size: 100%;
}
.botonPelear{
  background-image:url("imagen/vs.png");
  height:30px;
  width:60px;
  background-size: 100%;
}

#pokemon{
  background-image:url("imagen/pokemon.jpg");
  height:60px;
  width:60px;
  background-size: 100%;
}*/
